body{
  margin: 0;
  padding: 0;
  text-align: center;
  background:transparent
  font-family: sans-serif;

}

.contact-title

{
margin-top:  100px;
color: white;
text-transform: uppercase;
transition:all 4s ease-in-out;
} 
.contact-title h1{
  font-size: 32px;
  line-height: 10px;

}
.contact-title h2
{
  font-size: 16 px;
}

form
{ 
  margin-top: 50px;
  transition:all 4s ease-in-out;
}

.form-control
{  
  windth 600px;
  background: transparent;
  border: 3px;
  outline: 3px;
  border-bottom: 2px solid gray ;
  color:#ffff
  font-size: 15px
  margin-bottom: 16px

}

input
{
  height: 45px;
}

form .sumbit
{
  background: #ff5722;
  border-color: transparent;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .sumbit:hover
{
  backround-color: #f44336;¨
  cursor: pointer;